# Prerequisites

go to [my drive](https://drive.google.com/drive/u/2/folders/13p-gOYiPuyFNu4iH2qh_SNaR5vPrHtC_) click on three dots and create shortcut to your drive

**There are duplicated rows with same name as one name can have multiple wikipedia entries**

# imports and data

In [1]:
pip install --upgrade pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Collecting pyarrow
  Downloading pyarrow-6.0.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25.6 MB)
     |████████████████████████████████| 25.6 MB 61.4 MB/s
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 3.0.0
    Uninstalling pyarrow-3.0.0:
      Successfully uninstalled pyarrow-3.0.0
Successfully installed pyarrow-6.0.1

In [2]:
from google.colab import drive
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import pyarrow.dataset as ds

from tqdm import tqdm

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

Read files as in https://arrow.apache.org/docs/python/dataset.html

In [4]:
path = "/content/drive/MyDrive/quotes/quotes-2020-enhanced10000"
dataset = ds.dataset(path, format="parquet")

list files

In [ ]:
dataset.files

count rows without loading whole dataset

In [9]:
%%time
dataset.count_rows()

CPU times: user 3.28 ms, sys: 0 ns, total: 3.28 ms
Wall time: 3.3 ms

13588576

read first n rows

In [ ]:
rows = 100
quotes = dataset.head(rows).to_pandas()

read whole dataset

In [ ]:
quotes = dataset.to_table().to_pandas()

read in batches

In [ ]:
for batch in dataset.to_batches():
  quotes = batch.to_pandas()

load only some columns, **faster than filtering after loading!**

In [13]:
%%time
for batch in dataset.to_batches(columns=["quoteID", "speaker", "gender"]):
  quotes = batch.to_pandas()
  break

CPU times: user 56.2 ms, sys: 37.6 ms, total: 93.8 ms
Wall time: 80.6 ms

In [14]:
%%time
for batch in dataset.to_batches():
  quotes = batch.to_pandas()
  quotes = quotes[["quoteID", "speaker", "gender"]]
  break

CPU times: user 466 ms, sys: 364 ms, total: 831 ms
Wall time: 572 ms

describe and other

In [ ]:
quotes.head()

             quoteID  ...     _merge
0  2020-01-28-000082  ...  left_only
1  2020-01-16-000088  ...       both
2  2020-02-10-000142  ...  left_only
3  2020-02-15-000053  ...  left_only
4  2020-01-24-000168  ...       both

[5 rows x 20 columns]

In [ ]:
quotes.describe()

       numOccurrences
count      100.000000
mean         1.490000
std          1.720318
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         12.000000

In [ ]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   quoteID          100 non-null    object
 1   quotation        100 non-null    object
 2   speaker          100 non-null    object
 3   qids             66 non-null     object
 4   date             100 non-null    datetime64[ns]
 5   numOccurrences   100 non-null    int64
 6   probas           100 non-null    object
 7   urls             100 non-null    object
 8   phase            100 non-null    object
 9   date_of_birth    54 non-null     object
 10  nationality      49 non-null     object
 11  gender           63 non-null     object
 12  ethnic_group     3 non-null      object
 13  occupation       61 non-null     object
 14  party            12 non-null     object
 15  academic_degree  1 non-null      object
 16  id               66 non-null     object
 17  candidacy        3 non-null      object
 18  religion         7 non-null      object
 19  _merge           100 non-null    category
dtypes: category(1), datetime64[ns](1), int64(1), object(17)
memory usage: 15.2+ KB